extends layout

block content
	h1= title
 
	form#formAddUser(name="adduser", method="post", action="/adduser")
		input#inputUserName(type="text", placeholder="Enter your username", name="username")
		input#inputUserEmail(type="text", placeholder="Enter your email address", name="useremail")
		input#inputUserComment(type="text", placeholder="Enter your comment", name="comment")
		button#btnSubmit(type="submit") Add your comment
